---
layout: archive
title: "My software"
permalink: /software/
author_profile: true
---

<a href="https://metasen.shinyapps.io/gen1/">Link to metaSen interface</a>

<body>
  <div class="container-fluid">
    <div class="row">
      
         <div class="col-sm-5">

        <h3>Interests</h3>

        <ul class="ul-interests">

         

          <li>Organizational behavior</li>

         

          <li>Human resource management</li>

         

          <li>Organizational research methods</li>

               

                 

        </ul>

      </div>

     

     

      <div class="col-sm-7">

        <h3>Education</h3>

        <ul class="ul-edu fa-ul">

         

          <li>

            <i class="fa-li fas fa-graduation-cap"></i>

            <div class="description">

              <p class="course">Ph.D. in Business, 2017</p>

              <p class="institution">Virginia Commonwealth University</p>

            </div>

          </li>

         

          <li>

            <i class="fa-li fas fa-graduation-cap"></i>

            <div class="description">

              <p class="course">MBA, 2011</p>

              <p class="institution">Marshall University</p>

            </div>

          </li>

         

          <li>

            <i class="fa-li fas fa-graduation-cap"></i>

            <div class="description">

              <p class="course">B.Sc. in Business Administration, 2008</p>

              <p class="institution">Glenville State College</p>

            </div>

          </li>

         

        </ul>

      </div>
      </div>
      </div> 

 </body>


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

